name: Docker

on:
  push:
    branches:
      - master
env:
  IMAGE_NAME: lhaig/anon-app
  IMAGE_VERSION: 0.03

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Run tests
        run: |
          if [ -f docker-compose.test.yml ]; then
            docker-compose --file docker-compose.test.yml build
            docker-compose --file docker-compose.test.yml run sut
          else
            docker build . --file Dockerfile
          fi

  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v1

      - name: Build image
        run: |
          git checkout master
          docker build . --file Dockerfile --tag image

      - name: Log into registry
        run: echo "${{ secrets.GITHUBTOKEN }}" | docker login docker.io -u lhaig --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=$IMAGE_NAME
          VERSION=$IMAGE_VERSION

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag image $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
          
          docker tag image $IMAGE_ID:latest
          docker push $IMAGE_ID:latest
